div.form { 
  color:#990000;
   size:14px;
    float:center;
    margin-top:30px; 
    margin-bottom: 30px;
    font-family: Arial;
 }

 div.container
{
   margin: 20px;

}




body {

 background-image: url("NW Logo2.png");
 background-repeat: no-repeat;

 margin-bottom: 50px;
 margin-top: 25px;
 margin-left: 20px;
}

h1 {

   color:#990000;
   size:20px;
    float:center;
    margin-top:20px; 
    margin-bottom: 10px;
    font-family: Arial;
}

h2 {

   color:#990000;
    size:12px;
    float: center;
    font-family: Arial;
}


p{

	color:#990000;
	size:11px;
  font-family: Arial;

}


ul.topnav {
   
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: 
  font-family: Arial;
}

ul.topnav li {

  float: right;
  display: inline-block;
  color: #990000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  font-family: Arial;
}


ul.topnav li:hover {
  background-color: #ffb3cc ;
  color:#990000;
  font-family: Arial;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {

  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
      }
  }

@media screen and (max-width:680px) {

    ul.topnav.responsive {position: relative;}

    ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
       }

    ul.topnav.responsive li {
    float: none;
    display: inline;
        }
    }